.header{
    background-color: #000080;
    color: white;
    height: 200px;
    margin-top: 0px;
    padding: 20px;
}

header {
    width: 100%;
    min-height: 100px;
    height: 300px;
    overflow: hidden;
    position: fixed;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.medium-image{
    width: 150px;
    height: 150px;
}

.orange-text{
    color: #ff9200;
}

#my-picture{
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    margin-right: 30px;
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    float: left;
}

#my-picture:hover{
    filter: none; 
}

.connect-div{
    background-color: #00003d;
    height: 50px;
    padding: 1px 5px 1px 20px;   
}

.white-text{
    color: white;   
}

.connect-buttons{
    margin-left: 2px;
    margin-right: 2px;
}

.body {
    min-height: 800px;
}

.hidden-name {
    visibility: visible;
}